#cover-section{
  background-image:url('../images/2013_bg.JPG');
}
#cover-section h1{
  color: #bd044f !important;
}


#desc-section{
  background-color: #dedede;
  height: 350px;
  padding: 40px 0px;
  text-align: center;
}
.period-label{
  font-size: 20px;
  letter-spacing: -0.05em;
  background-color: #bd044f;
  padding: 5px 10px;
  color: white;
}
.start-label{
  width: 230px;
  margin: 0 auto;
}
.start-label span{
  font-weight: bold;
  font-size: 18px;
}
.start-label hr{
  margin: 5px !important;
}

.start-label.bright{
  color: white;
}

#workshop-section{
  background-image:url('../images/2013/section2.JPG');
  height: 350px;
  background-size: cover;
  text-align: center;
}

