/*
brand-color: #8ac43d;
brand-color-darker: #496b1d;

brand-sub-color: #f79320;
brand-sub-color-darker: #b57128;
*/
/*--- cover section ---*/
nav a{
  color: white !important;
}

#cover-section{
  background-image:url('../images/index/slide3.jpg');
  height: 550px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}
#cover-section h1{
  font-size: 60px;
  color: #333333;
  text-align: left;
  letter-spacing: -0.07em;
  line-height:70px;
  font-weight:200;
  margin-top: 80px;
}
#cover-section .sub-title{
  font-size: 18px;
  font-weight: 500;
  color: #333333;
  text-align: left;
  letter-spacing: -0.07em;
}

@media (max-width: 767px) {
  #cover-section .container{
    text-align:center;
    height:480px !important;
    background-size:contain;
    background-position:bottom;
  }
  #cover-section h1{
    font-size:24px;
    text-align:center;
    line-height:35px;
  }
  #cover-section .sub-title{
    font-size:14px;
    line-height:22px;
  }
}

section#desc-section{
  padding: 60px 0px;
  text-align: center;
}
section#desc-section p{
  font-size: 14px;
  font-weight: 500;
  color: #ffffff;
  text-align: left;
  letter-spacing: -0.07em;
  margin-top:80px;
  line-height:28px;
}

.circle{
  display:inline-block;
  width: 200px;
  height: 200px;
  background-color: rgb(250,250,250);
  border-radius: 50%;
  margin: 0 auto;
  padding: 30px 0px;
  justify-content: center;
  vertical-align: middle;
}

section#count-section{
  padding: 60px 0px;
  text-align: center;
  background-color: #ececec;
}

.count-row{
  width: 800px;
  margin: 0 auto;
}

#count-section .count{
  color: black;
  width: 33%;
  display: inline;
  float: left;
  font-size: 24px;
  position: relative;
  text-align: center;
  font-weight: 300;
}
.count span{
  font-weight: bold;
  font-size: 45px;
}

@media (max-width: 767px) {
  section#desc-section{
    height:420px;
  }
}

#slide-section{
  padding: 60px 0px;
  text-align: center;
  background-image: -webkit-linear-gradient(-180deg, #ececec 0%, #f7ffc9 100%);
  background-image: -moz-linear-gradient(-180deg, #ececec 0%, #f7ffc9 100%);
  background-image: -o-linear-gradient(-180deg, #ececec 0%, #f7ffc9 100%);
  background-image: linear-gradient(-180deg, #ececec 0%, #f7ffc9 100%);
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  background-size: cover;
}

section#footer-section{
  height:80px;
  background-color: #525252;
  color:white;
}
.footer-info{
  margin:0 auto;
  font-weight: 200;
  color: #ffffff;
  text-align: left;
  line-height: 15px;
  padding-top:28px;
  font-size:10px;
}
.togerther_logo{
  float:left;
  padding-right:20px;
}
.sponsor_logos{
  float:right;
}
.liscc-img {
  margin-right: 5px;
}
@media (max-width: 767px) {
  #footer-section{
    height:160px !important;
  }
  .footer-info{
    line-height:18px;
  }
  .togerther_logo{
    width:100%;
    margin-bottom:20px;
  }
}

.festival-flow-title {
  font-size: 3.5rem;
}

.festival-flow-subtitle {
  margin: 0px 0px 40px 0px;
  font-size: 2rem;
  text-align: center;
}

.festival-flow-number {
  font-size: 2.5rem;
  font-weight: 400;
  color: rgba(0,0,0,.2);
}

.step-title {
  margin-top: 2.0rem;
  font-size: 2.0rem;
  font-weight: bold;
}

.step-content {
  margin-top: 2rem;
  justify-content: center;
}

.stemp-image {
  width: 83%;
}

.start-label hr{
  border-color: #8ac43d;
}
